* {
  box-sizing: border-box;
  margin: 0;
}

html {
  font-family: "Avenir", "Helvetica", sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
  overflow-y: scroll; 
}

html::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}

body {
  font-family: "Avenir", "Helvetica", sans-serif;
}

/* Navigation */

.nav-container {
  width: 1600px;
  height: 1460px;
  background: linear-gradient(180deg, #F6FAFD 0%, #FFFFFF 19.4%);
  background-repeat: no-repeat;
}

.nav-container .wrapper {
  margin: 0 auto;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
}

nav .logo {
  position: absolute;
  width: 49px;
  height: 35px;
  left: 240px;
  top: 59px;
}

nav ul {
  display: flex;
  position: absolute;
  width: 322px;
  height: 30px;
  left: 410px;
  top: 62px;
}

.nav-items li {
  list-style: none;
  margin-right: 40px;
}

.nav-items li a {
  text-decoration: none;
  font-family: "Avenir";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 160%;
  color: #4B5D68;
}

.nav-items li .about {
  color: #212353;
  font-weight: 800;
}

.nav-items li:nth-last-of-type(1) {
  margin: 0;
}

.nav-btn {
  position: absolute;
  width: 210px;
  height: 60px;
  left: 1150px;
  top: 47px;
  background: #FFFFFF;
  box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
  border-radius: 50px;
  border: none;
}

.nav-btn-image {
  position: absolute;
  top: 20px;
  left: 155px;
}

.nav-btn a {
  position: absolute;
  width: 112px;
  height: 54px;
  left: 27px;
  top: 4px;
  text-decoration: none;
  font-family: "Avenir";
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 160%;
  color: #212353;;
  display: flex;
  align-items: center;
  letter-spacing: 0.005em;
}

/* Main */

.hero-container {
  width: 1120px;
  margin-top: 130px;
}

.hero-container .hero-copy h1 {
  font-family: Helvetica;
  font-style: normal;
  font-weight: bold;
  font-size: 80px;
  line-height: 110%;
  display: flex;
  align-items: center;
  color: #212353;
}

.hero-container .hero-copy p {
  margin-top: 50px;
  width: 380px;
  height: 120px;
  font-family: "Avenir";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 160%;
  color: #4B5D68;
}

.hero-container .hero-copy .hero-btn {
  margin-top: 50px;
  display: block;
  width: 170px;
  height: 60px;
  background: #9C69E2;
  border-radius: 50px;
}

.hero-container .hero-copy a {
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 350%;
  text-align: center;
  color: #FFFFFF;
  text-decoration: none;
}

.hero-copy {
  position: absolute;
  width: 645px;
  height: 464px;
  left: 240px;
  top: 237px;
}

.hero-image {
  position: absolute;
  width: 885px;
  height: 468px;
  left: 603px;
  top: 333px;
  background: url(../images/hero.png);
  background-size: 885px;
}

/* Heading  */

.heading-container {
  margin-top: 102px;
}

.heading-container .heading-copy {
  position: absolute;
  width: 475px;
  height: 310px;
  left: 790px;
  top: 1028.18px;
}

.heading-container .heading-copy h2 {
  font-family: Helvetica;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 130%;
  display: flex;
  align-items: center;
  color: #212353;
}

.heading-container .heading-copy p {
  margin-top: 40px;
  font-family: "Avenir";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 160%;
  color: #4B5D68;
  
}

.heading-rectangle {
  position: absolute;
  width: 1117px;
  height: 560px;
  left: 240px;
  top: 903.18px;
  background: url(../images/heading-rectangle.svg);
  background-size: 1117px;
}

.heading-image {
  position: absolute;
  width: 477px;
  height: 504px;
  left: 251px;
  top: 935px;
  background: url(../images/heading.png);
  background-size: 477px;
}

/* Features */

.feature-container {
  margin-top: 150px;
  }

.feature-container .feature-copy {
  position: absolute;
  width: 584px;
  height: 160px;
  left: 507.29px;
  top: 1613px;
}

.feature-container .feature-copy h2 {
  font-family: Helvetica;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 130%;
  align-items: center;
  text-align: center;
  color: #212353;
}

.feature-container .feature-copy p {
  margin-top: 50px;
  font-family: "Avenir";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 160%;
  text-align: center;
  color: #4B5D68;
  margin-bottom: 100px;
}

/* Search Data */

.search-data {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 150px;
  position: absolute;
  width: 442px;
  height: 394.56px;
  left: 328.29px;
  top: 1873px;
  background: url(../images/search-data-background.svg);
  background-repeat: no-repeat;
}

.search-data .search-data-image {
  flex-basis: 20%;
  width: 232px;
  height: 211px;
  left: 239px;
  top: 1946px;
  margin-right: 33.28px;
}

.search-data h3 {
  width: 200px;
  height: 50px;
  left: 500.29px;
  top: 1922px;
  margin-bottom: 20px;
}

.search-data p {
  width: 220px;
  height: 160px;
  left: 500.29px;
  top: 1992px;
  margin-bottom: 20px;
}

.search-data a {
  width: 127px;
  height: 26px;
  left: 500.29px;
  top: 2172px;
  justify-content: space-between;
  margin-bottom: 33px;
}

.search-data.search-data-copy.arrow {
  width: 20px;
  height: 14px;
  left: 607.29px;
  top: 2178px;
}

/* Hour Access */

.hour-access {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 150px;
  position: absolute;
  width: 442px;
  height: 394.56px;
  left: 915.28px;
  top: 1873px;
  background: url(../images/hour-access-background.svg);
  background-repeat: no-repeat;
}

.hour-access .hour-access-image {
  flex-basis: 20%;
  width: 241px;
  height: 185px;
  left: 813px;
  top: 1946px;
  margin-right: 33.28px;
}

.hour-access h3 {
  width: 200px;
  height: 50px;
  left: 1087.28px;
  top: 1922px;
  margin-bottom: 20px;
}

.hour-access p {
  width: 220px;
  height: 160px;
  left: 1087.28px;
  top: 1992px;
  margin-bottom: 20px;
}

.hour-access a {
  width: 127px;
  height: 26px;
  left: 1087.28px;
  top: 2172px;
  justify-content: space-between;
  margin-bottom: 33px;
}

.hour-access .arrow {
  width: 20px;
  height: 14px;
  left: 1194.28px;
  top: 2178px;
}

/* Print Out */

.print-out {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 150px;
  position: absolute;
  width: 442px;
  height: 394.56px;
  left: 328.29px;
  top: 2281px;
  background: url(../images/print-out-background.svg);
  background-repeat: no-repeat;
}

.print-out .print-out-image {
  flex-basis: 20%;
  width: 245px;
  height: 181px;
  margin-right: 33.28px;
}

.print-out h3 {
  width: 200px;
  height: 50px;
  margin-bottom: 20px;
}

.print-out p {
  width: 220px;
  height: 160px;
  margin-bottom: 20px;
}

.print-out a {
  width: 127px;
  height: 26px;
  left: 500.29px;
  top: 2580px;
  justify-content: space-between;
  margin-bottom: 33px;
}

.print-out .arrow {
  width: 20px;
  height: 14px;
  left: 607.29px;
  top: 2586px;
}

/* Security Code */

.security-code {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 150px;
  position: absolute;
  width: 442px;
  height: 394.56px;
  left: 915.28px;
  top: 2281px;
  background: url(../images/security-code-background.svg);
  background-repeat: no-repeat;
}

.security-code .security-code-image {
  flex-basis: 20%;
  width: 230px;
  height: 201px;
  left: 818px;
  top: 2367px;
  margin-right: 33.28px;
}

.security-code h3 {
  width: 200px;
  height: 50px;
  left: 1087.28px;
  top: 2330px;
  margin-bottom: 20px;
}

.security-code p {
  width: 220px;
  height: 160px;
  left: 1087.28px;
  top: 2400px;
  margin-bottom: 20px;
}

.security-code a {
  width: 127px;
  height: 26px;
  left: 1087.28px;
  top: 2580px;
  justify-content: space-between;
  margin-bottom: 33px;   
}

.security-code .arrow {
  width: 20px;
  height: 14px;
}

/* Feature Container */

.feature-container h3 {
  font-family: Helvetica;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 130%;
  display: flex;
  align-items: center;
  color: #212353;
}

.feature-container p {
  font-family: "Avenir";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 160%;
  color: #4B5D68;
}

.feature-container a {
  font-family: "Avenir";
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  /* line-height: 160%;     */
  display: flex;
  align-items: center;
  letter-spacing: 0.005em;
  color: #212353;
  text-decoration: none;
}

/* Testimonials */

.testimonial-container {
  position: absolute;
  display: flex;
  width: 1118px;
  height: 709px;
  left: 242px;
  top: 2789px;
  background: #9C69E2;
  border-radius: 50px;
}

.testimonial-container h2 {
  font-family: Helvetica;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 130%;    
  color: #FFFFFF;
}

.testimonial-container .testimonial-title {
  margin: 93px 109px 88px;
  position: absolute;
  width: 405px;
  height: 52px;
  /* left: 335px; */
  /* top: 2898px; */
}

.testimonial-container .testimonial-1 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 645px;
  height: 330px;
  left: 335px;
  top: 3038px;
  background: #FFFFFF;
  box-shadow: 0px 20px 0px #9663E0;
  border-radius: 20px;
  margin: 249px 20px 130px 93px;
}

.testimonial-container .testimonial-copy {
  margin: 80px 70px 50px 0px;
  width: 385px;
  height: 200px;
  left: 525px;
  top: 3118px;
}

.testimonial-container .testimonial-1 h4,
.testimonial-container .testimonial-2 h4 {
  width: 170px;
  height: 29px;
  left: 525px;
  top: 3118px;
  font-family: "Avenir";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 160%;    
  display: flex;
  align-items: center;
  letter-spacing: 0.005em;    
  color: #212353;
}

.testimonial-container .profile-image img {
  width: 90px;
  height: 90px;
  left: 405px;
  top: 3098px;
  margin: 60px 30px 180px 40px;
  flex-basis: 20%;
}

.testimonial-container .testimonial-1 h5,
.testimonial-container .testimonial-2 h5 {
  width: 101px;
  height: 22px;
  left: 525px;
  top: 3147px;
  font-family: "Avenir";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 160%;    
  display: flex;
  align-items: center;
  letter-spacing: 0.01em;    
  color: #9C69E2;
}

.testimonial-container .testimonial-1 p,
.testimonial-container .testimonial-2 p {
  width: 385px;
  height: 130px;
  left: 525px;
  top: 3188px;
  font-family: "Avenir";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 180%;    
  color: #4B5D68;
  margin-top: 19px;
}

.testimonial-container .testimonial-2 {
  position: absolute;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 360px;
  height: 330px;
  top: 250px;
  left: 758px;
  background: linear-gradient(270deg,
   #9C69E2 9.75%, rgba(255, 255, 255, 0) 100%), #FFFFFF;
  box-shadow: 0px 20px 0px #9769DF;
  box-sizing: border-box;
  border-radius: 20px;
}

.testimonial-container .profile-icons {
  position: absolute;
  display: flex;
  flex-direction: row;
  width: 55px;
  height: 10px;
  left: 93px;
  top: 639px;
}

.testimonial-container .profile-arrow-left {
  position: absolute;
  width: 20px;
  height: 14px;
  left: 962px;
  top: 637px;
}

.testimonial-container .profile-arrow-right {
  position: absolute;
  width: 20px;
  height: 14px;
  left: 1022px;
  top: 637px;
  opacity: 0.5;
}

/* Footer */

hr {
  position: absolute;
  width: 1600px;
  height: 2px;
  left: 0px;
  top: 3648px;
  background: #9C69E2;
  opacity: 0.2;
}

.footer-container {
  top: 3648px;
}

.footer-container .trial-content {
  position: absolute;
  width: 584px;
  height: 101px;
  left: 240px;
  top: 3650px;
}

.footer-container .trial-btns {
  position: absolute;
  width: 410px;
  height: 60px;
  left: 947px;
  top: 3671px;

}

.footer-container .footer-information {
  position: absolute;
  display: flex;
  width: 1085px;
  height: 260px;
  left: 240px;
  top: 4001px;
}

.footer-container .footer-information .social-links {
  display: flex;
  width: 178px;
  justify-content: space-between;
}

.footer-container h6 {
  font-family: "Avenir";
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 160%;
  color: #212353;
}

.footer-container .footer-information .logo {
  position: absolute;
  font-family: "Avenir";
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 160%;
  color: #212353;
}

.footer-container .footer-information .logo img {
  margin-right: 20px;
  vertical-align: middle;
}

.footer-container .footer-information .address {
  position: absolute;
  width: 335px;
  height: 65px;
  top: 91px;
  font-family: "Avenir";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 180%;
  letter-spacing: 0.01em;
  color: #212353;
}

.footer-container .footer-information .contact {
  position: absolute;
  width: 335px;
  height: 60px;
  top: 166px;
}

.footer-container .footer-information .contact a {
  font-family: "Avenir";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 180%;
  letter-spacing: 0.01em;
  color: #212353;
  text-decoration: none;
}



.footer-container .trial-content h2 {
  position: absolute;
  width: 405px;
  height: 52px;
  top: 100px;
  font-family: Helvetica;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 130%;
  display: flex;
  align-items: center;
  color: #212353;
}

.footer-container .trial-content p {
  position: absolute;
  width: 584px;
  height: 29px;
  top: 172px;
  font-family: "Avenir";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 160%;
  color: #4B5D68;
}

.footer-container .trial-btns .learn-more {
  position: absolute;
  width: 170px;
  height: 60px;
  top: 101px;
  background: #F063B8;
  border-radius: 50px;
}

.footer-container .trial-btns .learn-more a {
  font-family: "Avenir";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 160%;
  display: flex;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
  text-decoration: none;
  position: absolute;
  width: 96px;
  height: 29px;
  left: 37px;
  top: 16px;
}

.footer-container .trial-btns .request-demo {
  position: absolute;
  width: 210px;
  height: 60px;
  left: 200px;
  top: 101px;
  background: #FFFFFF;
  box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
  border-radius: 50px;
}

.footer-container .trial-btns .request-demo a {
  position: absolute;
  font-family: "Avenir";
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 160%;
  display: flex;
  justify-content: space-between;
  letter-spacing: 0.005em;
  color: #212353;
  text-decoration: none;
  width: 152px;
  height: 29px;
  left: 29px;
  top: 17px;
}

.footer-container .trial-btns .request-demo a img {
  position: absolute;
  width: 20px;
  height: 14px;
  left: 135px;
  top: 4px;
}

.footer-container .footer-nav .about-nav {
  position: absolute;
  left: 415px;
  top: 11px;
}

.footer-container .footer-nav .support-nav {
  position: absolute;
  left: 631px;
  top: 11px;
}


.footer-container .footer-nav a {
  font-family: "Avenir";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 250%;
  color: #212353;
  text-decoration: none;
}

.footer-container .footer-nav ul {
  padding: 30px 0px 0px 0px;
  list-style: none;
  margin-bottom: 90px
}

.footer-container .social-links {
  position: absolute;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  left: 847px;
  top: 11px;
}

.footer-container .social-links .icons {
  position: absolute;
  display: flex;
  flex-direction: row;
  width: 178px;
  height: 50px;
  top: 50px;
  justify-content: space-between;
}